@use "../../../SCSS/colors" as *;
@use "../../../SCSS/mixins" as *;

.work-pattern-page{
    margin: 7rem 10rem;
    gap: 5rem;
    transform: translateY(20%);
    opacity: 0;
    @include setFlex();
    &__header-container{
        width: 100%;
        gap: 5rem;
        @include setFlex(row, space-between, center);
        h1{
            font-size: 5rem;
            margin: 2rem 0rem;
        }
        p{
            line-height: 1.5rem;
        }
    }
    
    &__text{
        @include setFlex();
        gap: 1rem;
    }

    &__steps{
        gap: 3rem;
        width: 90%;
        @include setFlex(column, center, none);
    }
    &__step{
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        border-top: 2px solid $pg-work-pattern-step-main;
        -webkit-box-shadow: 0px 3px 16px -13px rgba(66, 68, 90, 1);
        -moz-box-shadow: 0px 3px 16px -13px rgba(66, 68, 90, 1);
        box-shadow: 0px 3px 16px -13px rgba(66, 68, 90, 1);
        @include setFlex(column, center, none);
        h2{
            align-self: center;
            font-size: 1.3rem;
            color: white;
            background-color: $pg-work-pattern-step-main;
            padding: 0.5rem 2rem;
            text-align: center;
        }
        li{
            padding: 0.5rem;
        }
        li::before{
            content: url('../../../svgs/list-style.svg');
            margin-right: 10px;
            display: inline-block;
        }
    }
    
    @media (max-width: 1050px){
        margin: 10rem 4rem;
        &__header-container{
            gap: 6rem;
        }
    }
    @media (max-width: 950px){
        &_header-container{
            gap: 3rem;
            h1{font-size: 4rem;}
        }
    }
    @media (max-width: 700px){
        &__header-container{
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
        }
    }
    
    @media (max-width: 500px){
        margin: 6rem 2rem;
    }
    @media (max-width: 400px){
        margin: 5rem 1rem;
    }
}