*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
  }
  @font-face {
    font-family: 'Migra Extralight';
    src:  url('./Fonts/Migra-Extralight.woff') format('woff');
  }
  @font-face {
    font-family: 'Migra Extrabold';
    src:  url('./Fonts/Migra-Extrabold.woff') format('woff');
  }

  body{
    overflow-x: hidden;
  }
  h2{
    font-family: 'Migra Extralight', serif;
    font-weight: 100;
  }
  button{
    font-weight: 400;
    cursor: pointer;
    transition: background 0.5s ease;
  }
  h2.bold{
    font-family: 'Migra Extrabold', serif;
    font-weight: 1000;
  }

  li{
    list-style-type: none;
  }
  
  a{
    color: inherit;
    text-decoration: inherit; 
  }
  .flex-col{
    display: flex;
    flex-direction: column;
  }

  .flex-row{
    display: flex;
    flex-direction: row;
  }

  .space-between{
    justify-content: space-between;
  }

  .space-around{
    justify-content: space-around;
  }

  .app-container{
    max-width: 100vw;
  }