//pg - page
//s - section

//base colors
$subpages-heading: #80705e;
$white: #ffffff;

//nav
$nav-elements-static: #ffffff;
$nav-background-sticky: #ffffff;
$nav-elements-sticky: #808080;
$nav-opened-mobile-btn: #ffffff;
$nav-opened-mobile-background: #685540;
$nav-opened-mobile-li: #ddd8be;

//opening
$opening-background: #514941;
$opening-logo-layer: #00000058;
$opening-h1-background: #ffffff37;

//about-me
$about-me-main: #685540;
$about-me-secondary: #606060;
$about-me-hovered-btn: #ffffff;

//s-work-pattern
$work-pattern-main: #514941;
$work-pattern-secondary: #93877a;
$work-pattern-hovered-btn: #ffffff;
//pg-work-pattern
$pg-work-pattern-step-main: #43403b;

//s-offer
$s-offer-background: #ffc3d0;
$s-offer-main: #231f20;
//pg-offer
$pg-offer-expand-btn: #685540;
$pg-offer-option-main: #524a42;
$pg-offer-li: #808080;

//my-style
$my-style-main: #93877a;

//contact
$contact-background: #3d4339;
$form-main: #1d3d26;
$submit-succes: #1d5e1d;
$submit-fail: #981c1c;
