.nav-container{
    z-index: 10;
    top: 0;
    transition: all 0.5s ease;
    // transform: translateY(-10vh);
    .deskopt-nav_list_item--logo{
        background-color: white;
        padding: 0.3rem 1rem;
    }
    img{
        height: 3rem;
    }

    li{
        cursor: pointer;
        a{
            width: 100%;
            height: 100%;
            padding: 1rem;
        }
    }
}
.nav-container.anim{
    transform: translateY(-10vh);
    animation-name: menu-down;
    animation-duration: 0.7s;
    animation-delay: 5.3s;
    animation-fill-mode: forwards;
}
.nav-container--sticky{
    position: sticky;
    background-color: white;
    color: grey;
    .mobile-nav_btn--closed{
        .mobile-nav_btn_stripe-1, .mobile-nav_btn_stripe-2{
            background-color: grey;
        }
        .mobile-nav_btn_stripe-1{
            box-shadow: 0 10px 0 grey;
        }
    }
}

.nav-container--static{
    position: static;
    background-color: none;
    color: white;
}

@keyframes menu-down {
    0%   {transform: translateY(-10vh);}
  100% {transform: translateY(0vh);
    }
}

.deskopt-nav{
    &_list{
        width: 100%;
        height: 10vh;
        align-items: center;
        h1{
            font-weight: 10;
        }
    }
}

.mobile-nav{
    height: 10vh;
    flex-direction: row;
    width: 100vw;
    z-index: 2;
    padding: 1rem 1.5rem;
    align-items: center;
    justify-content: flex-start;
    display: none;
    &_logo-container{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        justify-self: center;
    }
    &_list{
        height: 0vh;
        margin: -1rem -1.5rem;
        position: absolute;
        width: 100vw;
        top: 0;
        background-color: #685540;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        color: rgb(221, 216, 190);
        overflow: hidden;
        z-index: 1;
        transition: height 0.5s ease;
        &_item{
            font-size: 2rem;
        }
    }
    &_list--open{
        display: flex;
        height: 105vh;
        width: 100vw;
    }
    &_list--closed{
        height: 0vh;
    }

    &_btn {
        width: 36px;
        cursor: pointer;
        z-index: 2;
        span , &_stripe-1{
            background-color: #fff;
            display: block;
            height: 4px;
            transition: all 200ms ease-in-out;
        }
        &_stripe-1{
            box-shadow: 0 10px 0 #fff;
            margin-bottom: 16px;
        }
    }

    &_btn--open{
        .mobile-nav_btn_stripe-2{
            transform: translateY(-10px) rotate(-45deg);
        }
        .mobile-nav_btn_stripe-1{
            box-shadow: 0 0 0 #fff;
            transform: translateY(10px) rotate(45deg);
        }
    }
}


@media (max-width: 800px) {
    .deskopt-nav{
        display: none;
    }
    .mobile-nav{
        display: flex;
    }
}