.about-me-page{
    display: flex;
    flex-direction: row;
    margin: 7rem 10rem;
    gap: 10rem;
    transform: translateY(20%);
    opacity: 0;
    &__header-container{
        width: 30%;
        h1{
            font-size: 5rem;
            margin: 2rem 0rem;
        }
    }
    &__pic-container{
        width: 22rem;
        height: 30rem;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__text{
        width: 70%;
        padding-top: 16rem;
        color: #231F20;
        p{
            margin-bottom: 2rem;
            line-height: 1.5rem;
        }
    }
    @media (max-width: 1000px){
        margin: 10rem 4rem;
        gap: 12rem;
        &__pic-container{
            width: 20rem;
            height: 28rem;
        }
    }
    @media (max-width: 750px){
        flex-direction: column;
        gap: 3rem;
        &__header-container{
            width: 100%;
        }
        &__pic-container{
            margin: auto;
            width: 100%;
        }
        &__text{
            width: 100%;
            padding-top: 0;
        }
    }
    @media (max-width: 500px){
        margin: 5rem 2rem;
    }
    @media (max-width: 400px){
        margin: 5rem 1rem;
    }
}